body {
    background: #d1d2ff;
    font-family: Arial;
}

.wrapper {
    background: #fff;
    width: 450px;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
}

.avatar {
    width: 450px;
    height: 450px;
    border-radius: 100%;
    object-fit: cover;
}